services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my_subscription_backend
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      REDIS_HOST: redis
    ports:
      - "8083:8083"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: my_subscription_postgres
    environment:
      POSTGRES_USER: aj_user
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: aj_subscription
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aj_user -d aj_subscription"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine3.22
    container_name: my_subscription_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres_data:
  redis_data:
